<!-- /views/home_page.erb -->

<!DOCTYPE html>

<html>
<head>
  <title>RPS: Home</title>
</head>

<body>
  <h1>Welcome to Rock-Paper-Scissors!</h1>

  <div>
    <p>The simplified rules are:</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/627px-Rock-paper-scissors.svg.png">
  </div>
</body>
</html>
